@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;    
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 0; 
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.div1 {
    position: absolute;
    top: 42px;
    left: 115px;
    width: 45px;
    height: 45px;

    color: #00235C;
    background: #FFFFFF;
}

.div1 h2.C {
    position: relative;
    top: -9px;
    left: 6px;
    width: 15px;
    height: 15px;
}

.div2 {
    position: absolute;
    top: 42px;
    left: 160px;
    width: 125px;
    height: 45px;

    color:#FFFFFF;
    background: #00235C;
}

.div2 h2.CODING-KID {
    position: relative;
    top: 9px;
    left: 10px;
    font-size: 17px;
}

.div3 {
    position: absolute;
    top: 42px; 
    left: 500px;
}

.div3 h2.Testimony {
    position: relative;
    top: -13px;
    font-size: 17px;
}

.div4 {
    position: absolute;
    top: 42px; 
    left: 700px;
}

.div4 h2.Class {
    position: relative;
    top: 10px;
    font-family: 'Inter';
    font-style: medium;
    font-weight: 500;
    font-size: 17px;
}

.div5 {
    position: absolute;
    top: 42px;
    left: 850px;  
}

.div5 h2.Our-Activity {
    position: relative;
    top: 10px;
    font-family: 'Inter';
    font-style: medium;
    font-weight: 500;
    font-size: 17px;
}

.div6 {
    position: absolute;
    top: 42px;
    left: 1050px;
}

.div6 h2.Contact-us {
    position: relative;
    top: 10px;
    font-family: 'Inter';
    font-style: medium;
    font-weight: 500;
    font-size: 17px;
}

.div7 {
    position: absolute;
    top: 39px;
    right: 125px;
    height: 45px;
    width: 110px;

    background-color: #FFFFFF;
    border-radius: 10px;
}

.div7 h2.Login {
    position: relative;
    top: 10px;
    right: -32px;
    font-size: 16px;
    color: #116CFF;
}

.div8 {
    position: absolute;
    bottom: 155px;
    left: 115px;
    height: 65px;
    width: 250px;

    background-color: #FFFFFF;
    border-radius: 10px;
}

.div8 h2.Book-a-Class {
    position: relative;
    top: 15px;
    left: 60px;

    font-size: 20px;
    color: #116CFF  
}

.div9 {
    position: absolute;
    bottom: 155px;
    left: 415px;
    height: 65px;
    width: 250px;

    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
}

.div9 h2.Learn-More {
    position: relative;
    top: 15px;
    left: 65px;
    font-size: 20px;
}

.learn-coding-for-kids{
    display:flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background: #116CFF;
}

.learn-coding-for-kids article {
    width: 570px;
    margin-right: 38px;
}

.learn-coding-for-kids p {
    width: 570px;
    height: 130px;
}

.logical-thinking {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #00235C;
}

.logical-thinking article {
    width: 630px;
}

.logical-thinking p {
    width: 561px;
    height: 160px;
}

.preparing-your-kids {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background-color: #116CFF;
}

.preparing-your-kids article {
    width: 570px;
    margin-right: 38px;
}

.preparing-your-kids p {
    width: 526px;
    height: 120px;
}

.Testimony {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 24px;

    background-image: url(./img/kingdom-1263\ 1.png);
}

.Testimony h1{
    position: relative;
    top: 42px;
    left: 115px;
    color: #116CFF;
}

.Testimony div.Eleanor {
    position: relative;
    top: 200px;
    left: 25px;
    width: 440px;
    height: 180px;

    border-radius: 20px;
    background-color: #E7F0FF;
}

.Testimony h2.Eleanor-Pena {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    
    position: relative;
    left: 24px;
    top: 20px;
    font-size: 23px;

    color: #00235C;
}

.Testimony p.Eleanor-Coment {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    
    position: relative;
    width: 400px;
    left: 24px;
    top: 40px;
    font-size: 20px;

    color: #00235C;

}

.Testimony img.Eleanor-Star {
    position: relative;
    left: 24px;
    bottom: 80px;
}

.Testimony img.Eleanor-Photo {
    position: relative;
    right: 760px;
    bottom: 155px;
}

.Testimony div.Cameron {
    position: relative;
    top: 200px;
    left: 125px;
    width: 440px;
    height: 180px;

    border-radius: 20px;
    background: #FFE6E5;
}

.Testimony h2.Cameron-Alexander {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    
    position: relative;
    left: 24px;
    top: 20px;
    font-size: 23px;

    color: #00235C;
}

.Testimony p.Cameron-Coment {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    
    position: relative;
    width: 400px;
    left: 24px;
    top: 40px;
    font-size: 20px;

    color: #00235C;

}

.Testimony img.Cameron-Star {
    position: relative;
    left: 24px;
    bottom: 80px;
}

.Testimony img.Cameron-Photo {
    position: relative;
    left: 325px;
    bottom: 155px;
}

.Testimony div.Jane {
    position: relative;
    top: 50px;
    left: 271px;
    width: 440px;
    height: 180px;

    border-radius: 20px;
    background: #FFE6E5;
}

.Testimony h2.Jane-Cooper {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    
    position: relative;
    left: 24px;
    top: 20px;
    font-size: 23px;

    color: #00235C;
}

.Testimony p.Jane-Coment {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    
    position: relative;
    width: 300px;
    left: 24px;
    top: 40px;
    font-size: 20px;

    color: #00235C;

}

.Testimony img.Jane-Star {
    position: relative;
    left: 24px;
    bottom: 80px;
}

.Testimony img.Jane-Photo {
    position: relative;
    right: 826px;
    top: 60px;
}

.Testimony div.Jenny {
    position: relative;
    top: 50px;
    left: 371px;
    width: 440px;
    height: 180px;

    border-radius: 20px;
    background-color: #E7F0FF;
}

.Testimony h2.Jenny-Wilson {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    
    position: relative;
    left: 24px;
    top: 20px;
    font-size: 23px;

    color: #00235C;
}

.Testimony p.Jenny-Coment {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    
    position: relative;
    width: 400px;
    left: 24px;
    top: 40px;
    font-size: 20px;

    color: #00235C;

}

.Testimony img.Jenny-Star {
    position: relative;
    left: 24px;
    bottom: 80px;
}

.Testimony img.Jenny-Photo {
    position: relative;
    left: 260px;
    top: 60px;
}

.Our-Class {
    display:flex;
    align-items: center;
    flex-direction: column;

    background: #116CFF;
}

table {
    position: relative;
    top: 50px;

    width: 83%;
    border-collapse: collapse;
}

tr, td {
    background-color:#FFFFFF;  
}

td {
    height: 65px;
    border: 1px solid #E7F0FF;
}

.Our-Class h1 {
    position: relative;
    top: 42px;
    left: -518px;

    color: #FFFFFF;
}

.Beginner-Class-for-7-12-Years {    
    border-top-left-radius: 10px;
    padding-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    border: 1px solid #E7F0FF;
    background: #E7F0FF;
}

.Month {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    background: #E7F0FF;
    color: #00235C;
}

.Meet-Session {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    background: #E7F0FF;
    color: #00235C;
}

.Datail-Class {
    border-top-right-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    width: 250px;

    background: #E7F0FF;
    color: #00235C;
}

.Photo-4-Stars {
    background: #E7F0FF;
}

.Kids-Class {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    background: #E7F0FF;
    color: #00235C;
}

.Online-Offline-Meeting{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    background: #E7F0FF;
    color: #00235C;
}

.Intermediate-Class-for-7-12-Years {
    padding-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #116CFF;
}

.Dois-Mil-E-Quinhentos {
    padding-left: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #00235C;
}

.Expert-Class-for-12-Years {
    padding-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    border: 1px solid #FFFFFF;
    color: #116CFF;
}

.Doi-Mil-E-Novecentos {
    padding-left: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    border: 1px solid #FFFFFF;
    color: #00235C;
}

.Our-Class tr.Head {
    background: rgba(255, 255, 255, 0.8);
    color: #00235C;
    border: 1px solid #E7F0FF;
}

.Our-Class tr.Head2 {
    background: rgba(255, 255, 255, 0.8);
    color: #00235C;
    border: 1px solid #E7F0FF;
}

.Free-Trial-Class {
    padding-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    border: 1px solid #FFFFFF;
    color: #116CFF;
}

.Star-Photo {
    border: 1px solid #FFFFFF;
}

.Empty {
    border: 1px solid #FFFFFF;
}

.FREE {
    padding-left: 165px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    border: 1px solid #FFFFFF;
    color: #FF463A;
}

.Check-All-Class{
    padding-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    border: 1px solid #FFFFFF;
    color: #116CFF;
}

.div10  {
    position: relative;
    width: 150px;
    height: 75px;
    left: 520px;
    bottom: 340px;

    background: #116CFF;
    border-radius: 10px;
}

.div10 p.Class {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    
    color: #FFFFFF;
}

.div11 {
    position: relative;
    width: 47px;
    height: 25px;
    right: 390px;
    bottom: 138px;

    background: #FFE6E5;
    border-radius: 5px;
}

.div11 p.New {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0px;

    text-align: center;

    color: #FF463A;
}

.Our-Class img.Month {
    position: relative;
    bottom: 432px;
    right: 80px;
}

.Our-Class img.Meet-Session {
    position: relative;
    bottom: 454px;
    left: 85px;
}

.Our-Class img.Kids-Class {
    position: relative;
    bottom: 408px;
    right: 80px;
}

.Our-Class img.Online-Offline-Meeting {
    position: relative;
    bottom: 423px;
    left: 85px;
}

.Our-Class img.Begginer-Class {
    position: relative;
    bottom: 460px;
    right: 525px;
}

.Our-Class img.Intermediate-Class {
    position: relative;
    bottom: 390px;
    left: 25px;

}

.Our-Class img.Expert-Class {
    position: relative;
    bottom: 367px;
    left: 13px;
}

.Our-Class img.Free-Trial {
    position: relative;
    bottom: 280px;
    left: 25px;
}

.Our-Class img.Linha-Vertical1 {
    position: relative;
    bottom: 605px;
    right: 629px;
}

.Our-Class img.Linha-Vertical2 {
    position: relative;
    bottom: 690px;
    right: 629px;
}


@media screen and (max-width: 1200px) {
    section {
        flex-direction: column;
        height: 100%;
    }

    img {
        width: 500px;
    }

    .learn-coding-for-kids {
        flex-direction: column-reverse;
    }
    
    .learn-coding-for-kids article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 655px;
        text-align: center;
        margin: 0;
    }

    .learn-coding-for-kids h1 {
        height: 180px;
    }

    .learn-coding-for-kids p {
        margin:0;
        height: 202px;
    }

    .logical-thinking article {
        width: 498px;
        text-align: center;
    }

    .logical-thinking h1 {
        width: 483px;
        height: 180px;
        margin-top: 0px;
    }

    .logical-thinking p {
        width: 483px;
        height: 218px;
    }

    .preparing-your-kids {
        flex-direction: column-reverse;
    }

    .preparing-your-kids article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 655px;
        text-align: center;
        margin: 0;
    }

    .preparing-your-kids h1 {
        height: 180px;
    }

    .preparing-your-kids p {
        margin: 0;
        height: 202px;
    }

}