@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;    
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 0; 
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.logical-thinking {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #00235C;
}

.logical-thinking article {
    width: 630px;
}

.logical-thinking p {
    width: 561px;
    height: 160px;
}